/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url("/Norse-Bold.otf") format("opentype");
}

body {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: #596D48;
    color: white;
}

input {
    border-color: #E5E7EB;
    box-shadow: .025px .025px 0px;
}

input:invalid {
    border-color: red;
  }

input:focus {
    border-color: blue;
    box-shadow: 1px 1px 2px;
}

.left-section {
    width: 35vw;
    height: 100vh;
    position: relative;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-credit {
    color: rgba(100%, 100%, 100%, 0.7);
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 10px;
    bottom: 0;
}

.band {
    display: flex;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 15%;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    min-height: 60px;
    padding: 20px;

}

.logo-text {
    display: flex;
    color: white;
    font-family: "Norse-Bold";
    align-items: center;
    font-size: calc(100vh*.10);
}

.right-section {
    display: flex;
    width: 75vw;
    height: 100vh;
}









